/*
=============================================================
Box-sizing
=============================================================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
=============================================================
Custom-Styles
=============================================================
*/
body {
    background-color: mistyrose;
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
//  padding: 0 2rem;
    @media screen and (max-width: 768px) {
        .container {
            padding: 0 1rem;
        }
    }
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex {
    display: flex;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}

a {
    display: inline-block;
    text-decoration: none;
}

.padding {
    padding: 4rem 0;
}

.text-center {
    text-align: center;
}

.img-responsive {
    max-width: 100%;
    object-fit: cover;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212931;
    // color: $secondary-color;
    padding: 1rem;
    border: 2px solid #212931;
    &:hover {
        color: rgb(11, 243, 231);
        border: 2px solid rgb(11, 243, 231);
    }
}
